.hero-section{
    padding:160px 0 80px 0;
}

.hero-section-content{
     display: grid;
     grid-template-columns: 1.3fr 1fr 1fr;
     gap: 30px;
}

.hero-section-content h1{
     font-size: 45px;
     line-height: 1.5;
     margin-bottom: 20px;
}

.hero-section-content a{
     display: inline-flex;
     align-items: center;
     margin-bottom: 30px;
     text-transform: capitalize;
     font-weight: 600;
     gap: 5px;
     position: relative;
}
.hero-section-content a:hover{
     color: var(--main-color);
     cursor: pointer;
}
.hero-section-content a::after{
     content: "";
     position: absolute;
     width: 0%;
     height: 2px;
     background: var(--main-color);
     bottom: -8px;
     left: 0;
     transition: all 0.75s ease-in-out;
     -webkit-transition: all 0.75s ease-in-out;
     -moz-transition: all 0.75s ease-in-out;
     -ms-transition: all 0.75s ease-in-out;
     -o-transition: all 0.75s ease-in-out;
}
.hero-section-content a:hover::after{
     width: 100%;
}
.hero-section-content a span{
        display: inline-flex;
      animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
}

@keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-3px);
            -webkit-transform: translateY(-3px);
            -moz-transform: translateY(-3px);
            -ms-transform: translateY(-3px);
            -o-transform: translateY(-3px);
}
        60% {
            transform: translateY(-5px);
            -webkit-transform: translateY(-5px);
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            -o-transform: translateY(-5px);
}
}

.hero-col-item{
     border: 1px solid transparent;
}
.hero-col-item img{
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
}
.hero-col-item:nth-child(1) img{
    max-height: 500px;
}

.hero-col-ads{
    display: flex;
    margin: 10px 0;
}
.hero-col-ads span{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.hero-col-ads span:nth-child(1),
.hero-col-ads span:nth-child(3){
    border: 1px solid var(--secondary-color);
    background: white;
    position: relative;
    z-index: 1;

}
.hero-col-ads span:nth-child(2){
    border: none;
    background: var(--secondary-color);
    margin-left: -2.5%;
    position: relative;
    z-index: 3;
    color:white
}
.hero-col-ads span:nth-child(3){
    margin-left: -2.5%;
    position: relative;
    z-index: 5;
}
.hero-col-ads span:nth-child(2):hover,
.hero-col-ads span:nth-child(1):hover,
.hero-col-ads span:nth-child(3):hover{
     animation: shake 0.5s ease-in-out;
     -webkit-animation: shake 0.5s ease-in-out;
}

@keyframes shake{
    0% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg);}
    25% { transform: rotate(-8deg); -webkit-transform: rotate(-8deg); -moz-transform: rotate(-8deg); -ms-transform: rotate(-8deg); -o-transform: rotate(-8deg); }
    50% { transform: rotate(8deg); -webkit-transform: rotate(8deg); -moz-transform: rotate(8deg); -ms-transform: rotate(8deg); -o-transform: rotate(8deg); }
    75% { transform: rotate(-8deg); -webkit-transform: rotate(-8deg); -moz-transform: rotate(-8deg); -ms-transform: rotate(-8deg); -o-transform: rotate(-8deg); }
    100% { transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }
}

.hero-col-texts p{
     line-height: 1.5;
     margin-bottom: 20px;
     font-size: 15px;
}


.benefits-section{
     padding: 40px 0px 100px 0px;
}
.benefits-intro{
     width: 900px;
     text-align: center;
     margin: auto;
}
.benefits-intro h2{
     font-size: 55px;
     margin-bottom: 10px;
}
.benefits-intro p{
     font-size: 18px;
     line-height: 1.7;
}

.benefits-content-row{
      margin-top: 30px;
}

.tripple-grid-row{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px
}
.tripple-grid-item{
      height: 500px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      overflow: hidden;
}
.tripple-grid-item:nth-child(1){
     background: url("../assets/handcraft.jpg") no-repeat;
     background-size: cover;
     background-position: center;
     padding: 30px;
}
.tripple-grid-item:nth-child(1) .grid-item-texts h3{
     font-size: 30px;
     margin-bottom: 10px;     
     color: whitesmoke
}

.tripple-grid-item:nth-child(1) .grid-item-texts p{
     font-size: 15px;
     color: gainsboro;
     line-height: 1.5;
}

.tripple-grid-item:nth-child(2){
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.tripple-grid-column{
     height: 60%;
     background: var(--main-color);
     padding: 30px;
     display: flex;
     flex-direction: column;
     gap: 50px;
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
}

.tripple-grid-column h3{
     font-size: 33px;
     color: whitesmoke;;
}
.grid-column-split{
      display: flex;
      align-items: center;
      gap: 20px;
}

.grid-column-split img{
     width: 140px;
     height: 100px;
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
}
.grid-column-split p{
     color: gainsboro;
     line-height: 1.5;
}

.tripple-grid-column-short{
     background: var(--auxiliary-color);
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
     padding: 30px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 37.5%;
     gap: 30px;
}

.tripple-grid-column-short h3{
     font-size: 24px;
     margin-bottom: 10px;
}
.tripple-grid-column-short p{
     font-size: 15px;
     line-height: 1.5;
     color: #333;
}
.tripple-grid-column-short img{
     width: 100px;
     height: 100px;
}


.tripple-grid-item:nth-child(3){
     background: linear-gradient(transparent, rgba(0,0,0,0.3)), url("../assets/custom.jpg") no-repeat;
     background-size: cover;
     background-position: bottom;
     padding: 30px 30px 40px 30px;
     display: flex;
     align-items: flex-end;
     justify-content: flex-end;
}

.tripple-grid-item .item-texts{
      width: 80%;
}
.tripple-grid-item .item-texts h3{
     color: white;
     font-size: 30px;
}
.tripple-grid-item .item-texts p{
     color: whitesmoke;
     line-height: 1.5;
}

.double-grid-row{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin-top: 10px;
      
}

.first-double-column{
     position: relative;
     min-height: 300px;
     overflow: hidden;
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
}
.first-double-column img{
     position: absolute;
     width: 100%;
     height: 100%;
     filter: grayscale(10);
     -webkit-filter: grayscale(10);
     transition: all 0.7s ease;
     -webkit-transition: all 0.7s ease;
     -moz-transition: all 0.7s ease;
     -ms-transition: all 0.7s ease;
     -o-transition: all 0.7s ease;
}
.first-double-column:hover img{
     filter: grayscale(0);
     -webkit-filter: grayscale(0);
}
.first-double-texts{
     position: relative;
     padding: 30px;
     display: flex;
     height: 90%;
}
.first-double-texts h3{
     font-size: 36px;
     color: white;
     width: 50%;
}
.first-double-texts p{
     position: absolute;
     right: 30px;
     bottom: 0;
     color: whitesmoke;
     width: 200px;;
     font-size: 18px;
     line-height: 1.5;
}
.second-double-column{
     background: #f6eadf;
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
     padding: 30px;
     display: grid;
     grid-template-columns: 1fr 1.25fr;
     gap: 30px;
     align-items: center;
}
.second-double-column h3{
     margin-bottom: 10px;
     font-size: 22px;
}
.second-double-column p{
     line-height: 1.5;
     color: #333;
}

.double-images{
     display: flex;
     position: relative;
     align-items: center;
     justify-content: center;
}
.second-double-column .image-container{
     width: 150px;
     height: 120px;
     position: absolute;
     padding: 5px;
     background: white;
}
.second-double-column .image-container:nth-child(1){
      transform: translateX(-50px) rotate(-10deg);
      -webkit-transform: translateX(-50px) rotate(-10deg);
      -moz-transform: translateX(-50px) rotate(-10deg);
      -ms-transform: translateX(-50px) rotate(-10deg);
      -o-transform: translateX(-50px) rotate(-10deg);
}
.second-double-column .image-container:nth-child(2){
      transform: translateX(50px) rotate(10deg);
      -webkit-transform: translateX(50px) rotate(10deg);
      -moz-transform: translateX(50px) rotate(10deg);
      -ms-transform: translateX(50px) rotate(10deg);
      -o-transform: translateX(50px) rotate(10deg);
}


.about-section{
     padding: 30px 0px 100px 0px;
}

.about-section-content{
     display: grid;
     grid-template-columns: 1.3fr 1fr;
     gap: 40px;
}
.about-section-col h2{
      font-size: 40px;
      line-height: 1.4;
      margin-bottom: 10px;
}
.about-section-col p{
     font-size: 18px;
     line-height: 1.5;
     margin-bottom: 10px;
}

.about-section-col .extra-image{
      width: 70%;
      height: 400px;
      margin-top: 20px;
      border-radius: 10px;;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}


.about-section-col .large-image{
     height: max-content;
     display: block;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}

.about-section-split{
     display: grid;
     grid-template-columns: 2fr 1fr;
     margin-top: 20px;
     gap: 20px;
     align-items: center;
}
.about-section-split img{
     height: 350px;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}

.statement-moja{
     margin-bottom: 20px;
}
.statement-moja h3{
     font-size: 22px;
     margin-bottom: 10px;
}

.capabilities-section{
     padding: 100px 0;
     background: #bf9a872f;
}

.capability-images{
     display: grid;
     grid-template-columns: 1fr;
     gap: 30px;
     width: 90%;
     margin: auto;
}
.capability-images img{
     border-radius: 15px;
     height: 550px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
}
.capability-intro{
      width: 90%;
      margin: 40px auto;
     display: grid;
     grid-template-columns: 1fr 1.25fr;
     gap: 50px;
}
.capability-intro h2{
     font-size: 60px;
}
.capability-intro p{
     font-size: 18px;
     margin-bottom: 10px;
     line-height: 1.5;
}
.capability-intro a{
     width: 180px;
     height: 50px;
     display: flex;
     cursor: pointer;
     background: var(--main-color);
     align-items: center;
     justify-content: center;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
     color: whitesmoke;
     font-size: 16px;
     margin-top: 20px;
}

.capability-row{
     display: grid;
     grid-template-columns: 1.25fr 1fr;
     width: 90%;
     margin: auto;
     gap: 60px;
     align-items: center;
}

.capability-row-column h3{
     border-bottom: 1px solid rgba(209, 185, 164, 0.241);
     padding-bottom: 10px;
     margin-bottom: 10px;
}

.capability-row-column ul li{
     display: flex;
     gap: 10px; 
     margin-bottom: 10px;
     align-items: center;
         border-bottom: 1px solid rgba(209, 185, 164, 0.241);
     padding-bottom: 10px;
}
.capability-row-column ul li h4{
     margin-bottom: 5px;
}
.capability-row-column ul li p{
     font-size: 14px;
     line-height: 1.5;
     width: 90%;
}

.capability-row-column ul li img{
       width: 40px;
       height: 40px;
       filter: invert(21%) sepia(38%) saturate(5613%) hue-rotate(24deg) brightness(97%) contrast(81%);
}

.capability-row-image img{
      height: max-content;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
}

.showcase-section{
     padding: 100px 0;
}

.showcase-intro{
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 60px;
      align-items: center;
}
.showcase-intro h3{
      font-size: 17px;
      margin-bottom: 5px;
      color: var(--main-color);
}
.showcase-intro h2{
      font-size: 50px;
      line-height: 1.5;
}

.showcase-intro p{
      font-size: 18px;
      line-height: 1.5;
}

.showcase-intro a{
          width: 180px;
     height: 50px;
     display: flex;
     cursor: pointer;
     background: var(--main-color);
     align-items: center;
     justify-content: center;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
     color: whitesmoke;
     font-size: 16px;
     margin-top: 20px;
}

.showcase-photos-grid{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 30px;
      gap: 10px;
}
.showcase-photos-grid img{
     display: block;
     min-height: 300px;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}

.showcase-photos-grid img:nth-child(3){
       grid-column: span 2;
}
.showcase-photos-grid img:nth-child(4){
     opacity: 0;
}

.showcase-photos-grid img:nth-child(5){
     grid-column: span 2;
     grid-row: span 2;
}

.showcase-photos-grid img:nth-child(6){
       grid-row: span 2;
}
.showcase-photos-grid img:nth-child(7){
       grid-row: span 2;
}

.showcase-photos-grid img:nth-child(10),
.showcase-photos-grid img:nth-child(14){
       opacity: 0;
}
.showcase-photos-grid img:nth-child(11),
.showcase-photos-grid img:nth-child(15){
      grid-column: span 2;
}
.artisans-section{
     padding-bottom: 100px;
}
.artisans-section-content{
      border-top: 1px solid rgba(209, 185, 164, 0.241);
      padding-top: 80px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 70px;
      align-items: center;
}

.artisans-images{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 30px;
     height: max-content;
}

.artisans-images img{
     border-radius: 15px;
     -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
     -ms-border-radius: 15px;
     -o-border-radius: 15px;
}

.artisans-texts h2{
     font-size: 50px;
     margin-bottom: 10px;
}

.artisans-texts p{
     font-size: 18px;
     line-height: 1.5;
     margin-bottom: 20px;
}

.artisans-texts ul{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 15px;
}
.artisans-texts ul li{
     display: flex;
     gap: 5px;
     align-items: center;
     font-size: 15px;
}

.artisans-texts ul li span{
     display: flex;
     color: var(--main-color);
     font-size: 15px;
}

.testimonials-section{
      background: #bf9a872f;
      padding: 100px 0;
}

.testimonials-intro{
      width: 900px;
      margin: auto;
      text-align: center;
}

.testimonials-intro h3{
      color: var(--main-color);
      font-size: 17px;
}

.testimonials-intro h2{
     font-size: 50px;
     margin: 10px 0;
}

.testimonials-intro p{
     line-height: 1.5;
     font-size: 18px;
}








@media(max-width: 1200px){
      .tripple-grid-column{
             height: 45%;
             gap: 20px;
      }
      .grid-column-split img{
           height: 70px;
      }
      .tripple-grid-column h3{
          font-size: 25px;
      }
      .tripple-grid-column-short{
            height: 50%;
      }
      .tripple-grid-column-short h3{
           font-size: 18px;
           font-weight: 600;
      }
      .second-double-column{
            grid-template-columns: 1fr;
            height: 400px;
      }
      .tripple-grid-item .item-texts{
           width: 100%;
      }
}



@media(max-width: 1090px){
     .hero-section-content{
          grid-template-columns: 1fr 1fr;
     }
     .hero-col-item:nth-child(2){
          display: none;
     }
     .tripple-grid-row{
          grid-template-columns: 1fr;
     }
       .grid-column-split img{
           height: 100px;
      }
     .tripple-grid-item:nth-child(2){
           flex-direction: row;
           height: max-content;
           align-items: center;
     }
     .benefits-intro{
            width: 100%;
     }
     .about-section-content{
             grid-template-columns: 1fr;
     }
     .about-section-col:nth-child(1),
     .artisans-images{
           order: 2;
     }
          .artisans-section-content{
                grid-template-columns: 1fr ;
                gap: 30px;
          }
}

@media(max-width: 768px){
     .hero-section-content{
            grid-template-columns: 1fr;
     }
     .hero-col-item:nth-child(1) img{
          height: 350px
     }
     .hero-col-item:nth-child(3) img,
     .second-double-column{
          height: 350px
     }
     .tripple-grid-item{
          height: 400px;
     }
     .tripple-grid-item:nth-child(2){
           flex-direction: column;
     }
     .double-grid-row{
            grid-template-columns: 1fr;
     }

     .second-double-column{
           gap: 0px;
     }
     .second-double-column .image-container{
           left: 10%;
           width: 100px;
           height: 70px;
     }
     .capability-intro,
     .about-section-split,
     .showcase-intro{
            grid-template-columns: 1fr;
            gap: 20px;
     }
     .about-section-col .extra-image{
           width: 100%;
     }
       .capability-intro h2,
       .showcase-intro h2,
       .artisans-texts h2{
             font-size: 40px;
       }
      .capability-row{
            gap:30px;
            grid-template-columns: 1fr;
      }
      .capability-images img{
            height: 450px;
      }
        .showcase-intro{
             gap: 0;
        }
}

@media(max-width: 550px){
      .hero-section-content h1,
      .benefits-intro h2{
           font-size: 40px;
           text-align: center;
      }
      .hero-section-content a{
           justify-content: center;
           display: flex;
      }
      .tripple-grid-column h3,
      .tripple-grid-item:nth-child(1) .grid-item-texts h3{
           font-size: 25px;
      }
      .double-images,
      .showcase-photos-grid img:nth-child(4),
      .showcase-photos-grid img:nth-child(10),
      .showcase-photos-grid img:nth-child(14){
           display: none;
      }
      .second-double-column{
           height: max-content;
      }
   .showcase-photos-grid{
         grid-template-columns: 1fr;
   }
   .showcase-photos-grid img:nth-child(3),
   .showcase-photos-grid img:nth-child(15),
   .showcase-photos-grid img:nth-child(11){
       grid-column: span 1;
    }
    .showcase-photos-grid img:nth-child(5){
        grid-column: span 1;
        grid-row: span 1;
    }
    .showcase-photos-grid img:nth-child(6),
    .showcase-photos-grid img:nth-child(7){
         grid-row: span 1;
    }
    .artisans-texts ul{
        grid-template-columns: 1fr 1fr;
    }
}